@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li>News</li>
        </ol>
        <h2>Notice</h2>
    </div>
</section>

<section class="inner-page">
    <div class="container d-flex justify-content-evenly" data-aos="fade-up">
        <iframe class="rounded-4" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAUSTPIC&tabs=timeline%2C%20events%2C%20messages&width=500&height=800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="800" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe class="rounded-4" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Faustcsecarnivalofficial&tabs=timeline%2C%20events%2C%20messages&width=500&height=800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="800" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</section>
